.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
.gradient__bg{
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 3% 25%, rgba(5, 19, 101, 1) 0%, rgba(128, 65, 128, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(5, 19, 101, 1) 0%, rgba(128, 65, 128, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(5, 19, 101, 1) 0%, rgba(128, 65, 128, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(5, 19, 101, 1) 0%, rgba(128, 65, 128, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(5, 19, 101, 1) 0%, rgba(128, 65, 128, 1) 100%);
}
.gradient__text{
 background: var(--gradient-text);
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.section__padding{
 padding: 4rem 6rem;
}
.section__margin{
 margin: 4rem 6rem;
}

@media screen and (max-width: 700px) {
 .section__padding{
   padding: 4rem;
 }
 .section__margin{
   padding: 4rem;
 }
}
@media screen and (max-width: 550px) {
 .section__padding{
   padding: 4rem 2rem;
 }
 .section__margin{
   padding: 4rem 2rem;
 }
}

.gpt3__header {
  display: flex;
  flex-direction: row;
}

.gpt3__header__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.gpt3__header__content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.gpt3__header__content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);

  margin-top: 1.5rem;
}

.gpt3__header__content__input {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
  flex-direction: row;
}

.gpt3__header__content__input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: var(--color-footer);
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  color: #fff;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.gpt3__header__content__input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: #FF4820;
  border: 2px solid #FF4820;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
  outline: none;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.gpt3__header__content__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  margin-top: 2rem;
}

.gpt3__header__content__people img {
  width: 181.79px;
  height: 38px;
}

.gpt3__header__content__people p {
  margin: 0 0 0 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  color: #fff;
  text-align: center;
}

.gpt3__header__image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gpt3__header__image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .gpt3__header {
      flex-direction: column;
  }

  .gpt3__header__content {
      margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__header__content h1 {
      font-size: 48px;
      line-height: 60px;
  }

  .gpt3__header__content p {
      font-size: 16px;
      line-height: 24px;
  }
  
  .gpt3__header__content__people {
      flex-direction: column;
  }

  .gpt3__header__content__people p {
      margin: 0;
  }

  .gpt3__header__content__input input,
  .gpt3__header__content__input button {
      font-size: 16px;
      line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .gpt3__header__content h1 {
      font-size: 36px;
      line-height: 48px;
  }

  .gpt3__header__content p {
      font-size: 14px;
      line-height: 24px;
  }

  .gpt3__header__content__input input,
  .gpt3__header__content__input button {
      font-size: 12px;
      line-height: 16px;
  }
}