.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.gpt3__navbar__links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gpt3__navbar__links_logo {
    margin-right: 2rem;
}

.gpt3__navbar__links__logo img {
    width: 62.56px;
    height: 16.02px;
}

.gpt3__navbar__links__container {
    display: flex;
    flex-direction: row;
}

.gpt3__navbar__sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.gpt3__navbar__links__container > p > a,
.gpt3__navbar__menu__container__links > p > a{
    text-decoration: none;
    color: #fff;
}

.gpt3__navbar__links__container p,
.gpt3__navbar__sign p,
.gpt3__navbar__menu__container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.gpt3__navbar__sign button,
.gpt3__navbar__menu__container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.gpt3__navbar__menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.gpt3__navbar__menu svg {
    cursor: pointer;
    margin-left: 3rem;
}

.gpt3__navbar__menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.gpt3__navbar__menu__container p {
    margin: 1rem 0;
}

.gpt3__navbar__menu__container__links__sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .gpt3__navbar__links__container {
        display: none;
    }

    .gpt3__navbar__menu {
        display: flex;
    }
    
}

@media screen and (max-width: 700px) {
    .gpt3__navbar {
        padding: 2rem 4rem;
    }
 
}

@media screen and (max-width: 550px) {
    .gpt3__navbar {
        padding: 2rem;
    }
    .gpt3__navbar__sign {
        display: none;
    }
    .gpt3__navbar__menu__container__links{
        margin: 1rem;
    }

    .gpt3__navbar__menu__container {
        top: 50px;
    }

    .gpt3__navbar__menu__container__links__sign {
        display: block;
    }
}
.scale__up__center {
   -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
           animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale__up__center {
 0% {
   -webkit-transform: scale(0.5);
           transform: scale(0.5);
 }
 100% {
   -webkit-transform: scale(1);
           transform: scale(1);
 }
}
@keyframes scale__up__center {
 0% {
   -webkit-transform: scale(0.5);
           transform: scale(0.5);
 }
 100% {
   -webkit-transform: scale(1);
           transform: scale(1);
 }
}

